<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ADDRESSES</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <div class="title" align=center>
        <h1>FORM</h1>
        <form action="/teacher/add" method="post">
            <input type="text" name="depan" placeholder="Insert Your First name"><br>
            <input type="text" name="belakang" placeholder="Insert Your Last name"><br>
            <input type="text" name="email" placeholder="Insert Your email"><br>
            <select name="subId">
          <% subs.forEach( sub => { %>
        <option value="<%=sub.id%>">
          <%=sub.subject_name%>
        </option>
        <% }) %>
          </select>
            <input type="submit" value="Submit">
        </form>

        <br><br>
        <a href="/teacher">BACK</a>
    </div>
</body>

</html>
</div>
</body>

</html>
</div>
</body>

</html>