<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <table align=center>
        <tr>
            <th>ID</th>
            <th>NAMA SUBJECT</th>
        </tr>
        <% dataTcui.forEach( cont => { %>
            <tr>
                <td>
                    <%= cont.id %>
                </td>
                <td>
                    <%= cont.subject_name %>
                </td>
            </tr>
            <% }) %>
    </table>
</body>

</html>